/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0px auto;
    /* border: 1px solid red; */
}

h3 {
    color: #131313;
    font-size: 33px;
    font-weight: 700;
    /* border: 1px solid red; */
}

h4 {
    color: #131313;
    font-size: 1rem;
    font-weight: 600;
}

p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

button {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 24px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
}

h1 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* main related styles */
main section {
    margin-top: 150px;
}


/* header related styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
}


nav a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}


/* banner related styles */
.banner {
    margin-top: 100px;
    text-align: center;
}

.banner-text {
    max-width: 65%;
    margin: 0 auto;
}

.banner * {
    margin-bottom: 1.8rem;
}

.banner .banner-img img {
    width: 100%;
}



/* Team section related styles */

.team {
    display: flex;
    gap: 55px;
    justify-content: space-around;
    align-items: center;
    padding: 0px 40px;

}

.team .image-grid {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);

}

.team .image-grid img {
    width: 100%;
}

.team .text {
    max-width: 40%;
}

.team .text span {
    color: #FF900E;
}

.team .text * {
    margin-bottom: 1.25rem;
}



/* featured section related styes */

.features {
    display: flex;
    gap: 100px;
}

.features .text-section {
    max-width: 40%;

}

.features .text-section * {
    margin-bottom: 1.2rem;
}

.features .text-section #text {
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.features .text-section .text-item {
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
}

.features .text-section .text-item * {
    margin-bottom: 0.5rem;
}


/* img container */
.features .img-section img {
    width: 80%;
    height: 90%;
    object-fit: cover;
}

.features .img-section .bedge {
    max-width: 50%;
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    bottom: 10%;
    right: 15%;
}

.features .img-section .bedge h4 {
    font-size: 3rem;
    color: #FFF;
    font-weight: 700;
}

.features .img-section .bedge p {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}



/* Some Facts related styles */



.facts-item-content {
    display: flex;
    justify-content: space-around;
}

.facts-text {
    max-width: 40%;
}

.facts-text * {
    margin-bottom: 1rem;
}

.facts-item-content {
    margin-top: 4rem;
}

.facts-item-content .facts-item {
    text-align: center;
    padding: 2.5rem;
    border-radius: 8px;
    border: 1px solid #FF900E;

}

.facts-item-content .facts-item h4 {
    color: #727272;
}

.facts-item-content .facts-item * {
    margin-bottom: 5px;
}



/* sponsored related styles */

.sponsored-text {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}

.sponsored-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsored-text * {
    margin-bottom: 2.5rem;
}



/* footer related styles */

.footer-content {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    background-color: #FFF4E7;
    margin: 100px auto;
}

























/* responsive for small devices */

@media screen and (max-width: 576px) {

    /* container */
    .container {
        width: 95%;
        margin: 0px auto;
        padding: 10px;
    }

    /* main */
    main section{
        margin-top: 50px;
    }

    /* shared styles */
    nav,
    .team,
    .features,
    .facts-item-content,
    .sponsored-company {
        flex-direction: column;
        gap: 20px;
    }

    .team .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-text,
    .team .text,
    .features .text-section,
    .facts-text,
    .sponsored-text {
        max-width: 100%;
    }




    /* header related responsive */
    h1 {
        font-size: 1.5rem;
    }


    /* feature related styles */

    .features .text-section .text-item {
        padding: 0px;
    }

    .features .img-section img {
        width: 100%;

    }

    .features .img-section .bedge {
        max-width: 100%;
        padding: 1rem;
        position: static;
    }
    

    /* footer related styles*/
    footer{
        margin: 30px auto;
    }


}



/* responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 768px) {

    .team,
    .features,
    .facts-item-content,
    .sponsored-company {
        flex-direction: column;
        gap: 20px;
    }


    .banner-text,
    .team .text,
    .features .text-section,
    .facts-text,
    .sponsored-text {
        max-width: 100%;
    }

    .features .img-section img {
        width: 100%;

    }

    .features .img-section .bedge {
        bottom: 60px;
    }




}